.table{
	position: relative;
	width: 45%;
	margin: 0 auto;
	background: #221F36;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	height: 500px;
	margin-top: 14px;
	box-shadow: 0px 0px 0px 7px #4a376e1f;

	&-inp-wrap{
		position: relative;
		display: flex;
		padding: 10px 4px 10px 10px;
		background: #24223D;
		border-radius: 5px;
		width: 100%;
		justify-content: space-around;
		border: 1px solid #2b1e44;
		box-shadow: 0px 0px 0px 7px #4a376e4d;
	}

	&-inp{
		position: relative;
		display: flex;

		&-item{
			position: relative;
			width: 100%;
			padding: 5px 0px 6px 5px;
			font-size: 14px;
			font-family: 'Roboto';
			outline: none;
			border-radius: 5px;
			border: 2px solid #ddd8dc;
			color: #424266;
			text-shadow: 0px 0px 0px #4c2446;
			background: #fdf2ff;
			margin-right: 2px;
		}
	}

	&-btn{
		position: relative;
		display: flex;
		align-items: center;

		&-item{
			position: relative;
			font-size: 13px;
			font-family: 'Roboto';
			cursor: pointer;
			padding: 8px 10px 8px 10px;
			margin-right: 3px;
			border-radius: 5px;
			color: white;
		}

		&-item:nth-child(odd){
			background: #2C294A;
			border: 1px solid #302c57;
			margin: 0px 5px 0px 2px;
		}

		&-item:nth-child(even){
			background: #3D3922;
			border: 1px solid #514920;
		}
	}

	&-body{
		position: relative;
		width: 100%;
		display: flex;
		padding: 6px 6px 7px 8px;
		border-radius: 5px;
		background: #322f562b;
		height: 100%;
		box-shadow: 7px 5px 20px 3px #343756;
	}

	&-row{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #2b2746;
		border-radius: 8px;
		border: 1px solid #312c4f;
		padding: 4px 5px 4px 5px;
		color: #dfd9ff;
		font-family: sans-serif;


		&-item{
			position: relative;
			width: 5%;
			display: flex;
			justify-content: center;
		}

		&-btn{
			position: relative;
			display: flex;

			&-item{
				position: relative;
				margin-right: 5px;
				background: red;
				padding: 5px 5px 5px 5px;
				border-radius: 5px;
				cursor: pointer;
			}

			&-item:nth-child(odd){
				background-color: #20362ca6;
				border: 1px solid #314248;
			}

			&-item:nth-child(odd):hover{
				
			}

			&-item:nth-child(even){
				background: #37283d;
				border: 1px solid #513d5a;
				margin-right: unset!important;
			}
		}
	}

	&-column{
		display: flex;
		width: 93%;
		font-family: 'Roboto';
		margin: 18px 0px 10px 0px;

		&-item{
			position: relative;
			color: #d8cfff;
			width: 15%;
			display: flex;
			text-shadow: 0px 0px 6px #d8cfff94;
		}
	}


	/* width */
	&-body::-webkit-scrollbar {
		width: 7px;
	}

	/* Track */
	&-body::-webkit-scrollbar-track {
		background: #2f2953;
	}

	/* Handle */
	&-body::-webkit-scrollbar-thumb {
		background: #433d6c;
		border-radius: 50px;
	}

	/* Handle on hover */
	&-body::-webkit-scrollbar-thumb:hover {
		background: #3c3665;
	}


}

