.list-body{
	position: relative;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	background:#eeebff;
	border-radius: 10px;
	margin-top: 10px;
	box-shadow: 0px 0px 2px 2px #7f768b;
}
.list{
	position: relative;
	font-family: "Roboto";
	background: #ededff;
	padding: 6px 5px 2px 7px;
	border-radius: 10px;
	overflow-y: auto;
	max-height: 400px;

	&-wrap{
		position: relative;
	}

	&-backdrop{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: transparent;
	}

	&-block{
		position: relative;
		display: flex;
		background: #f2f1ff;
		margin-bottom: 4px;
		padding: 8px 6px 6px 6px;
		border-radius: 4px;
		color: #222331;
		justify-content: space-between;

		&-item{
			position: relative;
			width: 47%;
		}

		&-check{
			position: relative;
			width: 20px;
			height: 20px;
			border: 1px solid #d9d9ff;
			margin-left: 10px;
			cursor: pointer;
			border-radius: 3px;
			display: flex;
			align-self: center;
		}
	}
}
.list::-webkit-scrollbar {
	width: 5px;
}
.list::-webkit-scrollbar-track {
	border-radius: 10px;
}
.list::-webkit-scrollbar-thumb {
	background: #6a5b8d;
	border-radius: 10px;
}
.list::-webkit-scrollbar-thumb:hover {
	background: #5a4c7c;
}


.list-tags{
	position: relative;
	overflow: hidden;

	&-search{
		position: relative;
		outline: unset;
		padding: 8px 0px 8px 6px;
		border-top: 2px solid #f5f5ff;
		border-bottom: 2px solid #f5f5ff;
		border-left: unset;
		border-right: unset;
		width: 100%;
		background: #ffffff;
		color: #3e294b;
	}
}
.list-tags-search-wrap{
	position: relative;
	display: flex;
	border-radius: 8px;
	border: 1px solid #ece4f1;
}
.list-tags-left{
	position: relative;
	width: 34px;
	height: 35px;
	background:#5d426f;
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border: 2px solid #f5f5ff;
}
.list-tags-right{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 35px;
	background: #5d426f;
	color: white;
	cursor: pointer;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: 2px solid #f5f5ff;
}
.list-tags-left:hover{
	  background: #4f2f65;
	  transition: 0.2s;
  }
.list-tags-right:hover{
	background: #4f2f65;
	transition: 0.2s;
}
.tags-block-wrap{
	display: flex;
	width: 100%;
}
.tags-block-display{
	position: relative;
	display: flex;
	transition: 0.5s;
	//padding: 0px 0px 0px 3px;
}
.tags-block-padding{
	padding: 10px 0px 10px 3px!important;
}
.tags-block{
	position: relative;
	display: flex;
	margin-right: 5px;
	background: #47355f;
	border-radius: 5px;
	align-items: center;
	padding: 5px 0px 6px 5px;
	letter-spacing: 0.5px;
	font-size: 12px;
	color: white;
	text-align: center;
	flex-direction: row-reverse;

	&-item{
		position: relative;
		font-family: 'Roboto';
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 77px;
		margin-right: 6px;
	}
	&-remove{
		position: relative;
		background: #4d345d;
		color: #e9dfff;
		font-family: 'Roboto';
		width: 17px;
		height: 17px;
		font-size: 12px;
		display: flex;
		justify-content: center;
		border-radius: 100%;
		cursor: pointer;
		margin-right: 4px;
		border: 1px solid #543979;
	}
}

.check:after{
	content: "";
	width: 17px;
	height: 16px;
	background: #505080;
	border-radius: 2px;
	border: 1px solid #505080;
}
 .check:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 5px;
	width: 6px;
	height: 6px;
	border-right: 2px solid white;
	border-top: 2px solid white;
	transform: rotate(135deg);
	z-index: 1;
}
/*
#4f478d;
#e8e9fd;
*/