.wrapper{
	position: relative;
	background:#ffffff;
	border-radius: 8px;
	box-shadow: 0px 0px 11px 4px #26242c;
	margin-bottom: 26px;
	padding: 0px 0px 10px 0px;

	&-title{
		position: relative;
		margin: unset;
		text-align: center;
		font-family: "Roboto";
		font-size: 20px;
		background: #1f1e42;
		color: #ded1f7;
		padding: 7px 0px 6px 0px;
	}
}