.data{
	position: relative;
	max-width: 1140px;
	margin: 18px auto 0px auto;
	font-family: "Roboto";
	background: #f5f5ff;
	padding: 10px 10px 10px 10px;
	border-radius: 7px;

	&-backdrop{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #1d2f3aad;
		z-index: 1;
		display: none;
	}

	&-title{
		position: relative;
		color: white;
		font-size: 14px;
		display: flex;
		width: 85%;
		padding: 0px 0px 0px 31px;

		&-item{
			position: relative;
			width: 15%;
			display: flex;
		}
	}

	&-body{
		position: relative;
		background: #0e102c;
		padding: 10px 7px 2px 7px;
		border-radius: 7px;
	}

	&-row{
		position: relative;
		display: flex;
		color: #f6ebff;
		background: #23264a;
		margin-bottom: 11px;
		padding: 9px 5px 10px 9px;
		border-radius: 10px;
		margin-right: 5px;
		box-shadow: 0px 0px 1px 0px #7e80997d;

		&-item{
			position: relative;
			width: 13%;
			display: flex;
		}

		&-btn{
			position: relative;

			&-item{
				position: relative;
				font-size: 12px;
				letter-spacing: 0.4px;
				padding: 5px 8px 4px 8px;
				border-radius: 13px;
				border: 1px solid #967F29;
				cursor: pointer;
			}

			&-item:nth-child(odd){
				background: #4A3D0D;
				color: #97843e;
				margin-right: 5px;
			}
			&-item:nth-child(odd):hover{
				background: #302809;
				transition: 0.3s;
			}

			&-item:nth-child(even){
				background: #320c36;
				border: 1px solid #86588b;
				color: #dec5ff;
			}
			&-item:nth-child(even):hover{
				background: #1e0620;
				border: 1px solid #9a719f;
				transition: 0.3s;
			}
		}
	}
}

.title{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	&-item{
		position: relative;
		color: white;
		align-self: center;
	}
}

.btn{
	position: relative;
	cursor: pointer;
}

.addBtn{
	font-size: 13px;
	color: white;
	padding: 4px 15px 6px 15px;
	background: #162c2c;
	border-radius: 3px;
	border: 1px solid #1c3838;
}

.popup{
	position: relative;
	display: flex;
	width: fit-content;
	margin: 0 auto;
	background: #fafdff;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 3px #ecedfff5;
	padding: 6px 10px 7px 8px;
	font-family: "Roboto";
	border: 2px solid #eaecff;

	&-title{
		position: relative;
		display: flex;
		justify-content: space-between;
		color: #5d7f97;
		border-bottom: 1px solid #213f4c;
		padding-bottom: 18px;

		&-text{
			position: relative;
			font-size: 18px;
			letter-spacing: 2px;
			color: #3d647e;	/*(#274b64;)*/
		}

		&-close{
			position: relative;
			width: 17px;
			height: 17px;
			border-radius: 100%;
			background: #2e495a;
			font-size: 13px;
			display: flex;
			justify-content: center;
			box-shadow: 0px 0px 0px 1px #4f6c7c;
			cursor: pointer;
		}

		&-close:hover{
			transition: 0.2s;
			background: #263c4d;
			box-shadow: 0px 0px 1px 0px #2c4657;
		}
	}

	&-body{
		position: relative;
		display: flex;

	}

	&-field{
		position: relative;

		&-text{
			position: absolute;
			top: -6px;
			display: block;
			font-size: 13px;
			z-index: 1;
			left: 0;
			background: #f3f3ff;
			box-shadow: 0px 0px 9px 1px #d6d8ff;
			padding: 1px 5px 2px 5px;
			border-radius: 6px;

			&-title{
				position: relative;
			}
			&-error{
				position: relative;
				color: #b53ba5;
				text-shadow: 0px 0px 0px black;
			}
		}

		&-text:after{
			content: "";
			position: absolute;
			top: 4px;
			right: -16px;
			border: 6px solid rgba(255, 255, 255, 0);
			border-left: 12px solid #f3f3ff;
			z-index: 0;
		}

		&-inp{
			position: relative;
			outline: unset;
			border-radius: 5px;
			border: 3px solid #ffffff;
			background: #ece9ff;
			padding: 9px 0px 10px 7px;
		}
	}
}


.create-wrap{
	position: relative;
	display: flex;
}
.create{
	position: relative;
	display: flex;
	align-self: center;
	background: #4e3160;
	padding: 7px 11px 7px 10px;
	border-radius: 6px;
	color: white;
	font-size: 14px;
	margin-left: 3px;
 }





