.data{
	position: relative;
	max-width: 1140px;
	margin: 18px auto 0px auto;
	font-family: "Roboto";
	background: #f6f5fb;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
	box-shadow: 0px 0px 14px 4px #36353c;

	&-add-wrap{
		position: relative;
		display: flex;
		justify-content: end;
	}

	&-add{
		position: relative;
		display: flex;
		background: #244177;
		width: fit-content;
		margin: 3px 0px 10px 0px;
		border-radius: 4px;
		color: white;
		align-items: center;
		cursor: pointer;

		&-icon{
			position: relative;
			font-family: fangsong;
			border-radius: 4px 0px 0px 4px;
			padding: 7px 6px 7px 8px;
			font-size: 14px;
			background: #223b69;
			border-right: 2px solid #2d4571;
		}
		&-text{
			position: relative;
			padding: 0px 8px 0px 6px;
			font-size: 14px;
		}
	}

	&-backdrop{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #1d2f3aad;
		z-index: 1;
		display: none;
	}

	&-title{
		position: relative;
		color: #948fb3;
		font-size: 14px;
		display: flex;
		padding: 4px 0px 4px 5px;
		margin: 0px 0px 9px 0px;

		&-item{
			position: relative;
			width: 15%;
			display: flex;
		}
	}

	&-body{
		position: relative;
		background:#edeafd;
		padding: 9px 7px 9px 7px;
		border-radius: 7px;
		margin-top: 10px;
		max-height: 723px;
		overflow-y: auto;
	}

	&-body::-webkit-scrollbar{
		width: 5px;
	}
	&-body::-webkit-scrollbar-track{
		border-radius: 10px;
	}
	&-body::-webkit-scrollbar-thumb{
		background: #6a5b8d;
		border-radius: 10px;
	}
	&-body::-webkit-scrollbar-thumb:hover {
		background: #5a4c7c;
	}

	&-row{
		position: relative;
		display: flex;
		justify-content: space-between;
		color: #3e435c;
		background: #f4f3ff;
		padding: 9px 5px 10px 9px;
		border-radius: 6px;
		margin-right: 5px;
		margin-bottom: 2px;
		font-size: 14px;
		border: 1px solid #f2ecff;

		&-item{
			position: relative;
			width: 13%;
			display: flex;
		}

		&-btn-wrap{
			position: relative;
			display: flex;
			width: 10%;
		}

		&-btn{
			position: relative;
			display: flex;

			&-tool{
				z-index: 1;
				position: absolute;
				top: -22px;
				display: block;
				background: #ffffff;
				color: #1c1d4d;
				letter-spacing: 0.2px;
				padding: 2px 5px 2px 5px;
				border-radius: 6px;
				box-shadow: 0px 0px 8px 1px #e5defff2;
				text-shadow: 0px 0px 0px #454783fc;
			}
			&-tool:after{
				content: "";
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: #fff transparent transparent transparent;
			}

			&-i{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 30px;
				height: 30px;
				color: white;
				font-family: "IcoMoon-Free";
				border-radius: 100%;
				cursor: pointer;
			}

		}
	}

}

.title{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	&-item{
		position: relative;
		color: white;
		align-self: center;
	}
}

.btn{
	position: relative;
	cursor: pointer;
}

.addBtn{
	font-size: 13px;
	color: white;
	padding: 4px 15px 6px 15px;
	background: #162c2c;
	border-radius: 3px;
	border: 1px solid #1c3838;
}

.popup{
	position: relative;
	display: none;
	margin: 0 auto;
	background: #fafdff;
	border-radius: 10px;
	padding: 6px 10px 7px 8px;
	font-family: "Roboto";
	outline: 2px solid #e9ebff;

	&-title{
		position: relative;
		display: flex;
		justify-content: space-between;
		color: #5d7f97;
		border-bottom: 1px solid #213f4c;
		padding-bottom: 18px;

		&-text{
			position: relative;
			font-size: 18px;
			letter-spacing: 2px;
			color: #3d647e;	/*(#274b64;)*/
		}

		&-close{
			position: relative;
			width: 17px;
			height: 17px;
			border-radius: 100%;
			background: #2e495a;
			font-size: 13px;
			display: flex;
			justify-content: center;
			box-shadow: 0px 0px 0px 1px #4f6c7c;
			cursor: pointer;
		}

		&-close:hover{
			transition: 0.2s;
			background: #263c4d;
			box-shadow: 0px 0px 1px 0px #2c4657;
		}
	}

	&-body{
		position: relative;
		display: flex;

	}

	&-field{
		position: relative;

		&-text{
			position: absolute;
			top: -6px;
			display: block;
			font-size: 13px;
			z-index: 1;
			left: 0;
			background: #f3f3ff;
			box-shadow: 0px 0px 9px 1px #d6d8ff;
			padding: 1px 5px 2px 5px;
			border-radius: 6px;

			&-title{
				position: relative;
			}
			&-error{
				position: relative;
				color: #b53ba5;
				text-shadow: 0px 0px 0px black;
			}
			&-error:after{
				content: "";
				position: absolute;
				top: 4px;
				right: -20px;
				border: 6px solid rgba(255, 255, 255, 0);
				border-left: 12px solid #f3f3ff;
				z-index: 0;
			}
		}

		&-inp{
			position: relative;
			outline: unset;
			border-radius: 5px;
			border: 3px solid #ffffff;
			background: #ece9ff;
			padding: 9px 0px 10px 7px;
		}
	}
}


.create-wrap{
	position: relative;
	display: flex;
	margin-left: 8px;
}
.create{
	position: relative;
	display: flex;
	align-self: center;
	background: #4e3160;
	padding: 7px 11px 7px 10px;
	border-radius: 6px;
	color: white;
	font-size: 14px;
	margin-right: 5px;
 }
.change-data{
	display: flex;
	align-self: center;
	background: #2D6061;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 7px 7px 7px 7px;
	border-radius: 6px;
}
.edit{
	background: #8d8338;
	border: 1px solid #967F29;
	margin-right: 5px;
	box-shadow: 0px 0px 2px 1px gray;
}
.remove{
	background: #651f45;
	border: 1px solid #672147;
	box-shadow: 0px 0px 2px 1px gray;
}







