@font-face {
	font-family: 'Roboto';
	src: url( '/assets/fonts/Roboto-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url( '/assets/fonts/Roboto-Light.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'OpenSans-Reg';
	src: url( '/assets/fonts/OpenSans-Reg.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'icomoon';
	src: url( '/assets/fonts/icomoon.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'SourceSansPro-Reg';
	src: url( '/assets/fonts/SourceSansPro-Reg.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'RobotoMono-Regular';
	src: url( '/assets/fonts/RobotoMono-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url( '/assets/fonts/Poppins-Medium.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url( '/assets/fonts/Poppins-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'IcoMoon-Free';
	src: url( '/assets/fonts/IcoMoon-Free.ttf');
	font-weight: normal;
}