
html, body {
	height: 100%;
	width:100%;
}

body{
	scroll-behavior: auto;
	font-weight: inherit;
}


* {
	border-spacing: 0px;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

#main{
	position: relative;
	width: 100%;
	height: 100%;
}

.hidden{
	display: none!important;
}

.hidden.invisible{
	display: none;
}

.flex{
	display: flex!important;
}


.flex.invisible{
	 display: flex;
 }

.background-unset{
	background: unset!important;
}

.block{
	display: block!important;
}

.flex-column{
	display: flex!important;
	flex-direction: column;
}